[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Rapport - Online LaTeX Editor ShareLaTeX
Type=Link
URL=https://fr.sharelatex.com/project/577640ddf5aa082e1b89993d
Icon=text-html
